img.mw-100 {
    max-width: 100%;
}

.cpd-card {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
}

.cpd-card-body {
    padding: 20px;
}

.cpd-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cpd-logo {
    max-height: 50px;
}

.cpd-page-head-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.cpd-page-head-right a {
    font-size: 16px;
    text-decoration: none;
}

.cpd-powered-by-wraper {
    text-align: center;
}

.cpd-powered-by-wraper .cpd-logo {
    max-height: 40px;
}

.cpd-powered-by-wraper {
    max-width: 180px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.cpd-powered-by-wraper p {
    opacity: 0.8;
}

.cpd-wrapper .cpd-settings {
    grid-column: span 2;
}

.cpd-search-section {
    margin-bottom: 10px;
    float: right;
}

.cpd-wrapper .cpd-col:not(:last-child) {
    border-right: 1px solid #dee2e6;
    padding-right: 1rem;
}

.form-group-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.form-group-wrapper * {
    margin: 0;
}

.form-group-wrapper input,
.form-group-wrapper select {
    width: 100%;
    max-width: 100%;
}

.cpd-wrapper .form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.cpd-wrapper-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #dee2e6;
}

.tablenav .tablenav-pages .button,
.tablenav .tablenav-pages .tablenav-pages-navspan {
    margin: 3px;
}

@media (max-width: 767px) {
    .cpd-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .cpd-wrapper .cpd-settings {
        grid-column: span 3;
    }

    .cpd-wrapper .cpd-col:not(:last-child) {
        border-right: none;
        padding-right: 0;
    }

    .form-group-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

#wpfooter {
    position: inherit !important;
}